.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    /* margin-bottom: 50px; */
}

.accordion a {
    color: black;
    
}

.accordion a:hover {
    color: #444;

}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 10px 0px;
    padding-left: 0px;
    width: 100%;
    text-align: center;
    border: none;
    position: relative;
}

.accordion__button:hover {
    background-color: #ddd;
    color:rgb(134, 127, 127);	
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 6px;
    width: 6px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
    position: absolute;
    top: 1.6em;
    left: 3em;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    /* padding: 20px; */
    padding: 10px;
    animation: fadein 0.35s ease-in;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__panel:hover {
    background-color: #ddd;
}

.accordion li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    padding: 10px 0px;
    list-style: none;    
    text-decoration: none;
	color: black;
}

.accordion li:hover {
    background-color: #ddd;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


