html {
	scroll-behavior: smooth;
	/* max-width: 100%; */
}

body {
    text-align: center;
}

/* ContactHeader */
.back {
    background-size:  cover;   
    height: 200px;
	background-position:center bottom;     
    background-image: url(../images/ContactTop.jpg);

	/* margin-top: 120px; */
	/* margin-top: 89px; */
}

@media screen and (max-width:768px) {
    .back {
        /* margin-top: 149px; */
        /* margin-top: 48px; */
		height: 100px;
		/* padding-top: 50px; */
    }
}

header {
    text-align: center;
	position:relative;
	align-items: center;
}

#ContactBtn {
    margin: 50px;
    border-radius: 20px;
    background-color: skyblue; 
	border: none;  /*枠線を消す */
	border: solid  rgb(69, 193, 241);
	cursor: pointer;
}

h1 {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 2px silver;
	margin: 0px;
	line-height: 200px;
}
@media screen and (max-width:768px) {
	h1 {
		line-height: 100px;
        font-size: 30px;
	}
}

p {
	margin-left: 30px;
}

.red {
    font-size: 34px;
    color: red;
    text-shadow: 2px 2px 2px silver;
}
@media screen and (max-width: 768px) {
	.red {
		font-size: 30px;
	}
}

.c {
    font-size: 24px;
    font-weight: normal;
	margin-top: 0px;
}
@media screen and (max-width: 768px) {
	.c {
    margin: 0px 5% 0px 5%;
	font-size: 20px;
	}
}

.d {
margin: 10px 20px 10px 20px;
text-shadow: 2px 3px 2px white;
line-height: 1;
font-weight: bold;
color: black;
}
.big {
	font-size: 25px;
}
.small {
	font-size: 15px;
}
@media screen and (max-width: 480px) {
	.big {
		font-size: 20px;
	}
	.small {
		font-size: 15px;
	}
}

#contact {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
	margin-left: 150px;
	margin-right: 150px;
}
@media screen and (max-width: 768px) {
 #contact {
	 margin-left: 0px;
	 margin-right: 20px;
 }
}
@media screen and (max-width: 480px) {
	#contact {
     font-size: 15px;
	}
	#contact .caution {
		margin-left: 30px;
	}
   }

.caution {
    color: red;
}
@media screen and (max-width: 480px) {
	.caution {
		margin-left: 0px;
	}
}

.line {
	border-bottom: solid 1px black;
}

a {
	text-decoration: none;
}

a:active {
	color:rgb(36, 36, 182);
}

.Form {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
  }

 .Form-Item {
	padding-top: 24px;
	padding-bottom: 30px;
	width: 100%;
	align-items: center;
  }

@media screen and (max-width: 480px) {
	.Form-Item {
		padding-top: 16px;
		padding-bottom: 16px;
	}
}

  .Form-Item-Label {
	width: 100%;
	letter-spacing: 0.05em;
	font-size: 16px;
    text-align: left;
	max-width: inherit;
	display: flex;
	align-items: center;

  }
  @media screen and (max-width: 480px) {
	.Form-Item-Label {
	  font-size: 15px;
	}
  }

  .Form-Item-Label p {
	  width: 100%;
	  margin-right: 30px;
	  margin-left: 30px;
  }
  .Form-Item-Label div {
	  width: 100%;
	  margin-right: 30px;
	  margin-left: 30px;
	  margin: 16px 30px;
  }


  /* @media screen and (max-width: 480px) {
	.Form-Item-Label p {
		margin-bottom: 10px;
	}
  } */
  @media screen and (max-width: 480px) {
	.Form-Item-Label div {
		margin-bottom: 10px;
	}
  }

 .Form-Item-Input {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	/* margin-left: 30px; */

	margin-top: 10px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	background: #eaedf2;
	font-size: 18px;
    /* display: block; */
	overflow-wrap : break-word;
	box-sizing:border-box;
	/* margin-right: 30px; */
  }
  @media screen and (max-width: 768px) {
	.Form-Item-Input {
		margin-left: 0px;
	}
  }
  @media screen and (max-width: 480px) {
	.Form-Item-Input {
	  font-size: 15px;
      }
  }

  .Form-Item-Textarea {
	border: 1px solid #ddd;
	border-radius: 20px;
	margin-top: 10px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 200px;
	flex: 1;
	width: 100%;
	background: #eaedf2;
	font-size: 18px;
    display: block;
	box-sizing:border-box;
}
  @media screen and (max-width: 768px) {
	.Form-Item-Textarea {
	  margin-left: 0px;
	  flex: inherit;
	  font-size: 15px;
	}
  }

  .Form-Btn {
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	/* display: block; */
	/* display: flex; */
	display:inline-block;
	letter-spacing: 0.05em;
	background: #fd556e;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	border: none;  /* 枠線を消す */
	cursor: pointer;
}
@media screen and (max-width: 480px) {
	.Form-Btn {
	  margin-top: 20px;
	  /* padding-top: 8px; */
	  /* padding-bottom: 8px; */
	  /* width: 160px; */
	  font-size: 16px;
	}
  }

.Form-Btn a {
	text-decoration: none;
	color: #fff;
}

.reset {
	background: rgb(80, 209, 209);
}

.value {
	text-align: left;
    margin-left: 60px;
	/* max-width: 600px; */
	overflow-wrap : break-word;

	border: 1px solid #ddd;
	background: #eaedf2;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 6px;
	align-items: center;
    padding-top: 5px;
	/* padding-bottom: 5px; */
	padding-bottom: 2px;
	/* font-size: 18px; */
	margin-right: 30px;
	margin-top: 0px;
}

@media screen and (max-width: 480px) {
	.value {
	  margin-left: 30px;
	  /* margin-top: 15px; */
	  margin-top: 0px;
	  flex: inherit;
	  font-size: 15px;
      }
  }



.f {
	line-height: 100px;
}
@media screen and (max-width: 768px) {
	.f {
		line-height: 50px;
	}
}

 p.error{
    color: red;
    font-size: 12px;
    padding: 4px;
	/* margin: 0px; */
  }
  @media screen and (max-width: 768px) {
	 p.error {
		margin-left: 0px;  
		margin: 0px;
	  }
}

.btnBox {
	height: 100px;
}
@media screen and (max-width: 320px) {
	.btnBox {
		height: 150px;
	}
}


   div .company {
	margin: 0px;
}
