/* EmpHeader */
.backImg {
    background-size:  cover;   
    height: 200px;
    background-image: url(../images/EmpTop.jpg);
}


/* EmpButton */
.EmpNBtn {
    border-radius: 50%;
    margin: 50px 50px 50px 50px;
    background-color: rgb(116, 148, 253); 
	border: none;  /*枠線を消す */
	cursor: pointer;
	width:200px;
    height:200px;
    padding: 0;
}

.EmpNBtn .white {
    color: white;
    text-align: center;
    padding: 0px;
    margin: 5px;
    height: 30px;
    font-size: 25px;
}
.EmpNBtn p {
    color: red;
    margin: 5px;
    padding: 0px;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgb(73, 60, 60);
}

.EmpNBtn img {
    width: 50px;
    height: 50px;
} 

.EmpMBtn {
	border-radius: 50%;
    margin: 50px 50px 50px 150px;
    background-color: rgb(116, 148, 253); 
	border: none;  /*枠線を消す */
	cursor: pointer;
	width:200px;
    height:200px;
}

.EmpMBtn .white {
    color: white;
    text-align: center;
    padding: 0px;
    margin: 5px;
    height: 30px;
    font-size: 25px;
}

.EmpMBtn p {
    color: red;
    margin: 5px;
    padding: 0px;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgb(73, 60, 60);
}

.EmpMBtn img {
    height: 50px;
    width: 50px;
}


.char p {
    font-size: 20px;
    margin: 0;
    position: relative;
    padding-top: 50px;
    padding-left: 40px;
}

.char hr {
    text-align: right;
    width: 75%;
    margin-right: 0;
    border: none;
    height: 1px;
    color: black;
    background-color: black;
}



.shape1 {
    margin:  0;                     /* デフォルトCSS打ち消し */
    position:  relative;            /* 位置調整 */
    margin-bottom: 15px;            /* 周りの余白指定 */
    padding-top: 50px;              /* 余白指定 */
    padding-left: 40px;             /* 余白指定 */
}

.shape1::after {
    content:  '';                   /* 空白の要素を作る */
    width: 750px;                       /* 幅指定 */
    height: 50px;                      /* 高さ指定 */
    border-style: solid;   
    background-color: #daedf5;
    border-color: #daedf5;  
    position:  absolute;            /* 位置調整 */
    z-index:  -1;                   /* 重なり調整 */
    top: -45px;                     /* 位置調整 */
    left: 395px;                     /* 位置調整 */
}

.inta {
    text-align: left;
    font-size: 25px;
    margin-left: 60px;
}

.shape2 {
    margin: 0;
    position: relative;
    margin-bottom: 15px;
    padding-top: 50px;
    padding-left: 40px;
}

.shape2::after {
    content:  '';                   /* 空白の要素を作る */
    width: 150px;                       /* 幅指定 */
    height: 60px;                      /* 高さ指定 */
    border-style: solid;   
    background-color: #daedf5;
    border-color: #daedf5;  
    position:  absolute;            /* 位置調整 */
    z-index:  -1;                   /* 重なり調整 */
    top: -85px;                     /* 位置調整 */
    left: 30px;                     /* 位置調整 */
}

.shape3 {
    margin: 0;
    position: relative;
    margin-bottom: 15px;
    padding-top: 50px;
    padding-left: 40px;
}

.shape3::after {
    content:  '';                   /* 空白の要素を作る */
    width: 150px;                       /* 幅指定 */
    height: 60px;                      /* 高さ指定 */
    border-style: solid ;   
    border-width: 1px;
    border-color: #050607;  
    position:  absolute;            /* 位置調整 */
    z-index:  -2;                   /* 重なり調整 */
    top: -130px;                     /* 位置調整 */
    left: 125px;     
}



#cardlayout-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin: 2em auto;
    max-width: 1000px;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}


/* カードレイアウト内の画像を幅いっぱいに表示 */
#cardlayout-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card-figure {
    margin: 0;
    padding: 0;
}


/* カードレイアウトの説明文部分 */
.card-text-tax {
    margin: 0;
    padding: 1em;
}

/* カードレイアウトを1カラムで配置 */
.card-list {
    margin: 0.5em auto;
    padding: 0;
    width: 96%;
    /* background: #f0f0f0; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

/* 画面幅768px以上の場合カードレイアウトを2カラムで配置 */
@media all and (min-width: 768px) {
    .card-list {
        margin: 0.5em 0;
        width: calc(96% / 2); /* 96%幅を2で割るという指定 */
    }
}

/* 画面幅992px以上の場合カードレイアウトを3カラムで配置 */
@media all and (min-width: 992px) {
    .card-list {
        width: calc(90% / 3); /* 96%幅を3で割るという指定 */
}
    
/* 最後の行が3列より少ない場合左寄せにレイアウトさせる */
    #cardlayout-wrap::after{
        content: "";
        display: block;
        width: calc(96% / 3);
    }
}

#cardlayout-wrap .box {
    position: relative;
} 

#cardlayout-wrap .box .card-title1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    text-shadow: 2px 2px 2px silver;
    font-size: 34px;
}

#cardlayout-wrap .box .card-title2 {
    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
    text-shadow: 2px 2px 2px silver;
    font-size: 34px;
    transform: translate(-50%, -50%);
}







/* NewGrad */

.lineshadow {
    margin-left: 0;
    position: relative;
}

.shadow {
    font-size: 24px;
    text-align: left;
    text-shadow: 1px 2px 2px rgb(73, 60, 60);
    /* margin-left: 0; */
}

.lineshadow hr {
    position: absolute;
    text-align: left;
    margin-left: 0;
    border: none;
    height: 1px;
    background-color: black;
    box-shadow: 2px 1px 3px rgb(73, 60, 60);
    /* bottom: 100px; */
    /* width: 17%; */
    /* color: black; */
}

.lineshadow .hr1 {
    width: 235px;
    /* top: 35px; */
    top: 10vh;
}
.lineshadow .hr2 {
    width: 145px;
    /* top: 145px; */
    top: 10vh;
}
.lineshadow .hr3 {
    width: 165px;
    /* top: 890px; */
    top: 10vh;
}
.lineshadow .hr4 {
    width: 190px;
    top: 10vh;
}


table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table th {
padding: 10px;
background-color: rgb(183, 231, 252);
/* font-weight: normal; */
}

table th, table td {
    border: solid 1px black;
}

table li {
    text-align: left;
    list-style: none;
}

table p {
    text-align: left;
    margin-bottom: 0px;
}

h3 {
    text-align: left;
    color: red;
    margin-left: 200px;
    text-shadow: 1px 1px 2px rgb(136, 125, 125);
    margin-bottom: 5px;
}

.left {
    text-align: left;
    list-style: none;
    margin-left: 200px;
    margin-top: 0px;
}

.mynaviBtn {
    padding: 0;
    margin: 0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

.mynaviBtn img {
    width: 150px;
    height: 50px;
}