/* Header */
#menubar {
	/* height: 89px; */
	height: 85px;
}
  @media screen and (max-width:768px) {
	  #menubar {
		/* height: 133px; */
		height: 113px;
	  }
  }

nav{
	text-align: center;
    position: relative;
    z-index:999;
	width: 100%;
}

nav 
.topline {
	height: 25px;
	background-color: rgb(94, 94, 126);
}
  @media screen and (max-width:768px) {
    nav .topline {
        height: 15px;
	}
  }

nav img {
	width: 120px;
    height: 60px;
	vertical-align: bottom;
}
@media screen and (max-width:768px) {
	nav img {
		width: 100px;
		height: 50px;
	}
}

/*ナビゲーションを横並びに*/
nav ul{
	list-style: none;
	display: flex;
	justify-content:space-evenly;
	padding-left: 30px;
    margin: 0px;
}
/*2階層目以降は横並びにしない*/
nav ul ul{
	display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
	position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
	display: block;
	text-decoration: none;
	color: black;
	/* padding:20px 35px; */
	padding:18px 35px;
	transition:all .3s;
}

nav ul li li a{
	padding:10px 20px;
}

nav ul li a:hover{
	color:rgb(134, 127, 127);	
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
	content:'';
	position: absolute;
	left:15px;
	top:25px;
	width:6px;
	height:6px;
	border-top: 2px solid black;
    border-right:2px solid black;
    transform: rotate(135deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul{
    /*絶対配置で位置を指定*/
	position: absolute;
	left:0;
	/* top:62px; */
	top: 60px;
	z-index: 4;
	background-color: #f4f4f4;
	width:160px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
	padding-left: 0px;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
	color: #444;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav li.has-child ul li:last-child a{
	border-bottom:none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
	/* background:#b9d5f8; */
    background-color: #ddd;
}

.mpsize {
	display: none;
}


/* ==768px以下の形状 */

@media screen and (max-width:768px){
.pcsize {
	visibility: hidden;
    position: absolute;
}
.mpsize {
	visibility: visible;
	display: block;
	max-width: 100%;
}
}

.ver1 {
	content:"";
    position:absolute;
    width: 1px;
    height: 60%;
	background-color: black;
    /* left: 190px; */
	top: 14px;
	/* left: 12vw; */
}
@media screen and (max-width:1440px) {
	.ver1 {
		left: 13vw;
}}
@media screen and (max-width:1024px) {
	.ver1 {
		left: 14vw;
	}}

.ver2 {
	content:"";
    position:absolute;
    width: 1px;
    height: 60%;
	background-color: black;
    left: 190px;
	top: 14px;
	/* left: 13vw; */
}
@media screen and (max-width:1440px) {
	.ver2 {
		left: 13vw;
	}}
  @media screen and (max-width:1024px) {
      .ver2 {
        left: 15vw;
  }}

#menubar header {
	position: fixed;
	top: 0;
	/* top: 25px; */
	left: 0;
	/* display: flex; */
	align-items: center;
	justify-content: space-between;
	width: 100%;
	/* height: 149px; */
	background-color: #fff;
	color: #333;
	transform: translateY(0);
	/* transform: translateY(-50%); */
	transition: transform 0.3s ease;
    z-index: 999;
}

#menubar header.hidden {
	transform: translateY(-110%);
	/* transform: translateY(-150%); */
  }

#menubar header.shade {
	box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  }

  .isClose {
	display: none;
  }
  
  .isOpen {
	display: block;
  }

  button.accordion__button {
	  /* height: 60px; */
	  height: 48px;

	  font-size: 16px;
	  background-color: #a2cbec;
  }
  button.accordion__button:hover {
	  background-color: #96c7f0;
  }

 /* button.accordion__button[onClick='true']::before,
 button.accordion__button[Open="IsOpen"]::before {
    transform: rotate(45deg);
} */

button.accordion__button::before {
	display: none;
}

#menubar a.forcea {
	display: inline-block;
	height: 60px;
	width: 120px;
	vertical-align: bottom;
}
@media screen and (max-width:768px) {
 #menubar a.forcea  {
	height: 50px;
	width: 100px;
 }
}
