#header {
    background: #fff;
    box-shadow: 0 4px 8px -3px rgba(17, 17, 17, .06);
    height: 56px;
    position: fixed;
    top: 0;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    width: 100%;
    z-index: 199999;
  }
  
  .head-animation {
    transform: translateY(-100%);
  }

  nav {
    background-color: blue;
    height: 30px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
  }
  .active {
    visibility: visible;
    transition: all 0.5s;
  }
  .hidden {
    visibility: hidden;
    transition: all 0.5s;
    transform: translateY(-100%);
  }